body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.ibb.co/0VZRMHx/databitoriginal-escura.jpg);
    margin: 0;
}

.form-geral,
.form-serie {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40rem;
}

@media screen and (max-width: 740px) {

    .form-geral,
    .form-serie {
        width: auto;
    }

}

.form-voltar {
    background: #DCDCDC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 15px 15px grey;
    width: 30rem;
    text-align: center;
}

.input-whatsapp::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.div-form {
    position: absolute;
}

.div-save {
    position: relative;
    z-index: 1;
    float: center;
}

.div-serie {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

h1,
.titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: Helvetica, sans-serif;
    color: blue;
}

.msg-os {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    font-family: Helvetica, sans-serif;
    color: red;
}

.OSCriada {
    color: red;
}

img {
    height: 50;
    width: 100px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
}


.form-input {
    width: 100%;
    margin-left: 2px;
}

.form-serie {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    border-color: blue;
}

.form-group textarea {
    resize: vertical;
}

.form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group .period {
    display: flex;
    justify-content: space-between;
}

.form-group .period select {
    width: 49%;
}

.div-save {
    position: relative;
    z-index: 1;
}

.submit-btn {
    display: block;
    width: 30%;
    padding: 10px;
    background: rgba(0, 0, 255, 0.568);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.popup-btn {
    display: block;
    width: 30%;
    padding: 10px;
    background: rgba(95, 240, 76, 0.637);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.voltar-btn {
    display: block;
    width: 30%;
    padding: 20px;
    background: rgba(95, 240, 76, 0.637);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.voltar-btn-form {
    display: block;
    width: 30%;
    padding: 20px;
    background: rgba(95, 240, 76, 0.637);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.voltar-btn:hover {
    background: rgb(23, 131, 9);
}

.voltar-btn-form:hover {
    background: rgb(23, 131, 9);
}

.submit-btn:hover {
    background: rgb(3, 3, 204);
}

.popup-btn:hover {
    background: rgb(70, 177, 55);
}

.btn-index {
    display: flex;
}